<div
  class="ui fluid container"
  [style.backgroundColor]="backgroundColor1"
  style="height: 100vh;"
>
  <div class="ui equal width center aligned padded grid" style="height: 100%">
    <div class="row"></div>
    <div
      class="row"
      style="display: flex; align-items: center; align-content: center;"
      [ngStyle]="{
        'box-shadow':
          hasShadow === true ? '0px 2px 15px 8px rgba(0,0,0,0.55)' : ''
      }"
      [style.backgroundColor]="backgroundColor2"
    >
      <form class="ui large fluid form" [formGroup]="loginForm" (ngSubmit)="processLogin()">
        <h2 class="ui centered dividing header">{{ loginTitleText }}</h2>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input
              type="text"
              name="email"
              [placeholder]="loginPlaceholderText"
              formControlName="userName"
            />
          </div>
        </div>
        <div *ngIf="!loginForm.controls.userName.valid && loginForm.controls.userName.touched" class="ui red tiny message">
            Email Address Required
        </div>
        <div class="field">
          <div class="ui left icon input error">
            <i class="lock icon"></i>
            <input
              type="password"
              name="password"
              [placeholder]="passPlaceholderText"
              formControlName="password"
            />
          </div>
          <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched" class="ui red tiny message">
              Password Is Required!
          </div>
        </div>
        <button type="submit" [class]="'ui fluid large submit button ' + loginButtonColor" (click)="processLogin();" [disabled]="!loginForm.valid">
          Login
        </button>

        <div class="ui error message"></div>
      </form>
    </div>
    <div class="row"></div>
  </div>
</div>
