  <sui-tabset>
      <div class="ui pointing secondary menu">
          <a class="item" suiTabHeader="1">Menu 1</a>
          <a class="item" suiTabHeader="2">Menu 2</a>
          <a class="item" suiTabHeader="3">Menu 3</a>
          <a class="item" suiTabHeader="4">Menu 4</a>
      </div>
      <div class="ui segment" suiTabContent="1"><app-acp-detailed-info tempContent='Temp Content 1'></app-acp-detailed-info></div>
      <div class="ui segment" suiTabContent="2"><app-acp-detailed-info tempContent='Temp Content 2'></app-acp-detailed-info></div>
      <div class="ui segment" suiTabContent="3"><app-acp-detailed-info tempContent='Temp Content 3'></app-acp-detailed-info></div>
      <div class="ui segment" suiTabContent="4"><app-acp-detailed-info tempContent='Temp Content 4'></app-acp-detailed-info></div>
  </sui-tabset>