<div class="ui fluid container">

  <app-acp-menubar></app-acp-menubar>>

  <div class="ui fluid container"></div>
  <div class="ui fluid padded grid" style="min-height: calc(100vh - 30px)">
    <div class="ui  padded two column grid">
      <div class="row">
        <div class="three wide column">
          <app-acp-general-info></app-acp-general-info>
        </div>
        <div class="thirteen wide column">
          <div class="ui grid">
            <div class="sixteen wide column">
              <app-acp-dynamic-submenu></app-acp-dynamic-submenu>
            </div>
            <div class="sixteen wide column">
              <app-acp-detailed-info></app-acp-detailed-info>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
