<div class="ui clearing stacked segment">
  <div class="ui top left attached label">Details...</div>
  <table class="ui definition compact table">
      <tbody>
        <tr>
          <td>Status</td>
          <td>
            <div class="ui icon user"></div>
          </td>
        </tr>    
        <tr>
          <td>Name</td>
          <td>Will S</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>Alberta, Canada</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>+1-403-123-1234</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>will@vulkan.ca</td>
        </tr>
      </tbody>
    </table>
</div>